{% extends 'layout.html' %}
{% block body %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create a Group</legend>
            <div class="form-group">
                {{ form.groupName.label(class="form-control-label") }}

                {% if form.groupName.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.groupName.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.groupName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.policy.label(class="form-control-label") }}

                {% if form.policy.errors %}
                {{ form.policy(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.policy.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.policy(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.groupBio.label(class="form-control-label") }}
                {% if form.groupBio.errors %}
                {{ form.groupBio(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.groupBio.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.groupBio(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock body %}
