{% extends 'layout.html' %}

{% block body %}
{% include 'navbar.html' %}

<div class="group">
  <div class="card">
    <h5 class="card-header">Group
    </h5>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">{{ group_data.group_name }}</p>
      <h5 class="card-title">Description</h5>
      <p class="card-text">{{ group_data.group_bio }}</p>
      <h5 class="card-title">Policies</h5>
      <p class="card-text">{{ group_data.policy }}</p>
      <h5 class="card-title">Members</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Status</th>
            <th scope="col">Profile</th>
          </tr>
        </thead>
        <tbody>
          {% for user in group_users %}
            <tr>
              <td>{{ user.user.username }} 
                {% if user.is_admin %}
                  <i>(admin)</i>
                {% endif %}
              </td>
              {% if ( is_member and (user.user.id == user_id) ) %}
              <td>
                <div class="dropdown">
                  <button class="dropbtn">{{ user.status_enum.value }}</button>
                  <div class="dropdown-content ">
                    <a href="{{ url_for('update_status', group_id=user.group_id, user_id=user.id, status=user.status_enum.Positive.value) }}">Positive</a>
                    <a href="{{ url_for('update_status', group_id=user.group_id, user_id=user.id, status=user.status_enum.Negative.value) }}">Negative</a>
                    <a href="{{ url_for('update_status', group_id=user.group_id, user_id=user.id, status=user.status_enum.Untested.value) }}">Untested</a>
                    <a href="{{ url_for('update_status', group_id=user.group_id, user_id=user.id, status=user.status_enum.Healthy.value) }}">Healthy</a>
                    <a href="{{ url_for('update_status', group_id=user.group_id, user_id=user.id, status=user.status_enum.Symptomatic.value) }}">Symptomatic</a>
                    <a href="{{ url_for('update_status', group_id=user.group_id, user_id=user.id, status=user.status_enum.Recovering.value) }}">Recovering</a>
                  </div>
                </div>
              </td>
              {% else %}
              <td>{{ user.status_enum.value }}</td>
              {% endif %}
              <td><a class="btn btn-outline-info" href="{{ url_for('get_user_profile', username=user.user.username) }}">View Profile</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      {% if is_member %}
        <div class="group-buttons">
          <a class="btn btn-outline-danger" href="{{ url_for('leave_group', id=group_data.id) }}">Leave Group</a>
          {% if is_admin %}
            <a class="btn btn-outline-warning update-group" href="{{ url_for('update_group', id=group_data.id) }}">Update Group</a>
          {% endif %}
        </div>
      {% else %}
        <a class="btn btn-outline-success" onclick="showPopup()"">Join Group</a>
      {% endif %}
    </div>
  </div>
  <div id="popup">
    <p>The group has the following policies:</p>
    <p> {{ group_data.policy }} </p>
    <p>If you agree with the policies, please join</p>
    <a class="btn btn-outline-success" href="{{ url_for('join_group', id=group_data.id) }}">Join</a>
    <button class="btn btn-outline-danger" onclick="hidePopup()">Cancel</button>
  </div>
</div>
<script>
  function showPopup() {
      document.getElementsByClassName("card")[0].style.opacity = 0.5
      document.getElementById("popup").style.display = 'block'
  }

  function hidePopup(elementId) {
      document.getElementsByClassName("card")[0].style.opacity = 1
      document.getElementById("popup").style.display = 'none'
  }
</script>

<style>
  .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
{% endblock body %}