{% extends 'layout.html' %}

{% block body %}
    {% if current_user.is_authenticated %}
        {% include 'navbar.html' %}
    {% endif %}
    <div class="welcome">
        <h1>Welcome to GroupSafe!</h1>
        {% if current_user.is_authenticated %}
            <p>You are logged in</p>
        {% else %}
            <p>Please log in or register below</p>
            <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Log In</a>
            <a type="button" class="btn btn-outline-success" href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
{% endblock body %}