{% extends 'layout.html' %}

{% block body %}
<div class="user profile" style="margin: auto">
    <!-- Don't show password, maybe just *****? -->
    <!-- Include button for updating info and deleting account only if the person viewing is the user-->
    <h3>Username: {{ user_data.username }}</h3>
    <h3>Email Address: {{ user_data.email }}</h3>
    {% if user_data.user_bio %}
        <h3>Bio: {{ user_data.user_bio }}</h3>
    {% endif %}
    <a class="btn btn-outline-primary" href="{{ url_for('home') }}">Home</a>
</div>
{% endblock body %}