{% extends 'layout.html' %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('get_user_profile', username=current_user.username) }}">Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('createGroup') }}">Create Group</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
</nav>
<div class="user profile" style="margin: auto">
    <!-- Don't show password, maybe just *****? -->
    <!-- Include button for updating info and deleting account only if the person viewing is the user-->
    <h3>Profile Viewer</h3>
    <h3>Username: {{ user_data.username }}</h3>
    <h3>Email Address: {{ user_data.email }}</h3>
    {% if user_data.user_bio %}
        <h3>Bio: {{ user_data.user_bio }}</h3>
    {% endif %}
    <a class="btn btn-outline-primary" href="{{ url_for('home') }}">Home</a>
    {% if current_user.id == user_data.id %}
        <a class="btn btn-outline-secondary" href="{{ url_for('update_account', username=user_data.username) }}">Update Account Information</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('change_password', username=user_data.username) }}">Change Password</a>
        <a class="btn btn-outline-danger" href="{{ url_for('remove_account', username=user_data.username) }}">Delete Account</a>
    {% endif %}
</div>
{% endblock body %}