a,
a:focus,
a:hover {
    color: #fff;
}

html,
body {
    height: 100%;
    background-color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.groups {
    position: absolute;
    left: 20%;
    text-align: center;
    width: 60%;
}

.welcome {
    position: fixed;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
}

.content-section {
    position: relative;
    margin-top: 90px;
    left: 30%;
    width: 40%;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.alert {
    width: 40%;
    left: 30%;
    text-align: center;
}

.jumbotron {
    margin-top: -50px;
}

.user-group {
    border: 1px solid lightseagreen;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: ghostwhite;
}

.user-group:hover, .other-group:hover {
    cursor: pointer;
}

.other-group {
    border: 1px solid rgb(225, 143, 49);
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: ghostwhite;
}

div[id^="popup-"] {
    border: 1px solid rgb(14, 14, 13);
    border-radius: 5px;
    padding: 10px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: ghostwhite;
}

.group-bio {
    padding: 10px;
}

.nav-link:hover {
    color: #58ce37;
}

.user-profile {
    width: 50%;
    margin: 30px auto;
}

.group {
    width: 60%;
    margin: 30px auto;
}

.profile-buttons {
    text-align: center;
}

.update-status, .update-group {
    float: right;
}